@import "tailwindcss";

#bgImage {
        background-image: url("./assets/Image/bg_Image.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}